@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap");

@font-face {
    font-family: "Tajawal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Tajawal.woff") format("woff");
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: black;
    font-family: Tajawal;
    background-color: rgb(214, 201, 185);
    margin: auto;
    /* overflow: hidden; */
}

h2 {
    font-size: 36px;
    font-weight: normal;
    font-weight: normal;
}

h3 {
    font-size: 32px;
    margin: 0;
    padding-left: 32px;
    font-weight: normal;
}

.settings-container .title {
    font-size: 48px;
    height: 50px;
}

.settings-container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
}

.settings-container .content .threshold-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    background-color: #F3F3F3;
    margin: 50px;
}

.settings-container .content .threshold-container h2 {
    height: 0px;
    margin-top: -9%;
}

.settings-container .content .auto-delete-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    font-size: 32px;
    background-color: #F3F3F3;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.settings-container .content .auto-delete-container h2 {
    height: 0px;
    margin-top: -12%;
}

.settings-container .content .default-label-container .label-form {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.settings-container .content .default-label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    background-color: #F3F3F3;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.settings-container .content .default-label-container h2 {
    height: 0px;
    margin-top: -12%;
}

.settings-container {
    width: 50%;
    height: 100%;
}

.metrics-container {
    width: 50%;
    height: 100%;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.metrics-container .graph-container .graph {
    background-color: white;
    width: 100%;
    height: 100%;
}

.metrics-container .graph-container h2 {
    height: 0px;
    margin-top: -4%;
    margin-bottom: 0;
    z-index: 1;
}

.metrics-container .graph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    background-color: #F3F3F3;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.metrics-container .numbers-container {
    height: 50%;
    background-color: #F3F3F3;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.metrics-container .numbers-container h2 {
    height: 0px;
    margin-top: -11%;
    margin-bottom: 0;
}