@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap");

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tajawal.woff") format("woff");
}

body {
  width: 260px;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #363A43;
  font-size: 30px;
  background-color: #F7F9F6;
  border-radius: 15px;
  font-family: Tajawal, sans-serif;
  margin: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  width: 100%;
}

.header {
  text-align: center;
}

.title {
  font-size: 30px;
}

.header .title .upload-button {
  position: absolute;
  top: 87px;
  left: 120px;
}

.header .title .upload-button img:hover {
  background-color: #D7E0DC;
  cursor: pointer;
}

.email {
  font-size: 16px;
}

.info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 10px;
}

.info--details {
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.1s ease-out 30ms;
}

.info--details.option-1,
.info--details.option-3 {
  background: #D7E0DC;
}

.info--details.option-2 {
  background: #F7F9F6;
}

.info--details:hover {
  padding: 10px 30px;
  border-radius: 10px;
  background: #d8dbee;
  cursor: default;
}

.info--title {
  position: absolute;
  top: 126px;
  left: 20px;
  font-size: 15px;
}

.options {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 0px 17px;
  justify-content: space-between;
  margin-bottom: 0px;
  width: 85%;
  color: #636B68;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}
